################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API_StoresWeb/bin
/API_StoresWeb/obj
/.vs