.login {
    width: 100%;
}

button.login {
    width: 100%;
    background: linear-gradient(to bottom right, #f77990, #ffc7a4);
    border: 0;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

button.login:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button.login:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

h2.login {
    padding-top: 5px;
    font-size: xxx-large;
    text-align: center;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

.button-row{
    padding: 10px 0px 10px 0px;
}

.icon-country{
  display: flex;
  align-items: center;
}

.icon-country img{
  width: 30px; 
  height: 17px; 
  border-radius: 5px;
}

.selected-value {
  width: 96%;
}